<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>포인트 충전</title>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/point.css}">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="charge-wrapper">
		<h2 th:text="'안녕하세요, ' + ${userName} + '님 '"></h2>
		<p class="point-amount">
			현재 보유 포인트: <strong th:text="${point} + '원'">0원</strong>
		</p>
		<p class="charge-guide">충전 금액을 선택해주세요</p>
		<div class="charge-btn-container">
			<button class="charge-btn" data-amount="1000">1000원 충전</button>
			<button class="charge-btn" data-amount="5000">5000원 충전</button>
			<button class="charge-btn" data-amount="10000">10000원 충전</button>
		</div>
		<!-- 예약목록으로 가기 버튼 추가 -->
    <div style="margin-top: 30px; text-align: center;">
        <a href="/mypage?tab=schedule" class="charge-guide">예약목록으로 가기</a>
    </div>
		
		
	</div>
	<script th:inline="javascript">
		const userId = /*[[${userId}]]*/'guest';
		const userTel = /*[[${userTel}]]*/'010-0000-0000';

		IMP.init("imp14397622"); // 포트원 ID

		$('.charge-btn')
				.on(
						'click',
						function() {
							const amount = $(this).data('amount');

							IMP
									.request_pay(
											{
												pay_method : 'card',
												channelKey : "channel-key-01764171-b249-4c16-9d18-e9174fa8e611",
												merchant_uid : 'order_'
														+ new Date().getTime(),
												name : `${amount}원 포인트 충전`,
												amount : amount,
												buyer_tel : userTel
											},
											function(rsp) {
												if (!rsp.success) {
													alert('결제 실패: '
															+ rsp.error_msg);
													return;
												}

												$
														.ajax({
															type : 'POST',
															url : '/point/save',
															contentType : 'application/json',
															data : JSON
																	.stringify({
																		userId : userId,
																		payResno : rsp.merchant_uid,
																		payAmount : rsp.paid_amount,
																		resId : null, // 예약ID 없음을 의미, 충전 기록용
																		payType : "CARD" // 충전은 카드로 결제했으므로 CARD
																	}),
															success : function(
																	data) {
																alert('포인트 충전 성공! + '
																		+ data.amount
																		+ '원');
																location.href = "/mypage?tab=schedule";
															},
															error : function() {
																alert('충전 처리 중 오류 발생');
															}
														});
											});
						});
	</script>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
