# =============================
# === Build Artifacts ===
# =============================
/build/
/out/
/bin/
/.gradle/
/target/
HELP.md

# Gradle Wrapper 제외
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# =============================
# === IDE Files ===
# =============================

## STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# =============================
# === OS-specific files ===
# =============================

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# =============================
# === Logs & Temp Files ===
# =============================
*.log
*.tmp
*.swp
*.bak

# =============================
# === secret.properties =====
# =============================
application-secret.properties